<header>
    <nav>
        <img src="pictures/full_logo_white.png" class="logo-nav">
        <ul>
            <li><a class="links" href="/dashboard">Dashboard</a></li>
            <li><a class="links" href="/user/id/schedules">My schedules</a></li>
            <li><a class="links" href="/schedules/new">New schedule</a></li>
            <li><a class="links" href="/logout">Log out</a></li>
        </ul>
    </nav>

    <div>
        <img src="pictures/logo_dark.png" class="logo-main">
    </div>
</header>