<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('../partials/materialize') %>
    <title>Home</title>
</head>
<body>
    <main>
        <%- include('../partials/header') %>


        <div class="container">
            <div class="row">
                <div class="col s12">
                    <div class="card">
                        <div class="card-content">
                            <span class="card-title center">Schedules</span>
                            <div class="row">
                                <p>Greetings <%= userExists.firstname %><br> You will be redirected in a moment!</p>
                                <script>
                                    const timeout = 3000;
                                
                                    setTimeout(() => {window.location = "http://localhost:5000/";}, timeout);
                                </script>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </main>
    

</body>
</html>