<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main>

        <div class="container">
            <div class="row">
                <div class="col s12">
                    <div class="card">
                        <div class="card-content">
                            <span class="card-title center">Sign up</span>
                            <div class="row">

                                <form method= "POST" action="/signup">
                                    <div>
                                        <label for="firstname">Name</label>
                                        <input id="firstname" type="text" name="firstname" required>
                                    </div>
                                    <div>
                                        <label for="lastname">Lastname</label>
                                        <input id="lastname" type="text" name="lastname" required>
                                    </div>
                                    <div>
                                        <label for="email">Email</label>
                                        <input id="email" type="email" name="email" required>
                                    </div>
                                    <div>
                                        <label for="password">Password</label>
                                        <input id="password" type="password" name="password" required>
                                    </div>

                                    <div>
                                        <label for="confirm_password">Confirm Password</label>
                                        <input id="confirm_password" type="password" name="confirm_password" required> 
                                    </div>
                                    <div class = "center" >
                                        <button class = "btn waves-effect waves-light" type = "submit">Sign Up</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

</body>
</html>